@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&display=swap");

/* base styles */
/* #0b1416 -green from reddit*/

/* #1d232a - grey -default*/
@import "tailwindcss";

/* @tailwind utilities; */
@utility ani-delay {
  animation-delay: 1s;
}

/* .div {
  animation: name duration timing-function delay iteration-count direction fill-mode;
} */

@theme {
  --animate-slide-down: slide-down 0.7s ease;

  --animate-slide-up: slide-up 0.7s ease;

  --animate-appear: appear 2s;

  @keyframes slide-down {
    0% {
      transform: translateY(-47px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100%;
    }
  }
}

html {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.007) 0px,
      rgba(255, 255, 255, 0.007) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.007) 0px,
      rgba(255, 255, 255, 0.007) 1px,
      transparent 1px,
      transparent 20px
    ),
    linear-gradient(
      135deg,
      #030407 0%,
      /* Darkest blue-black */ #050913 35%,
      /* Very dark blue */ #0a0f1b 65%,
      /* Dark blue */ #050913 85%,
      /* Back to very dark blue */ #030407 100% /* Back to darkest blue-black */
    );
  /* background-attachment: fixed; */

  color: white;
  /* font-family: "Quicksand"; */

  /* overflow-y: scroll; */
  scrollbar-width: none;
  min-height: 100vh;
}

.authform button {
  background: linear-gradient(135deg, #0f172a 0%, #1a2436 50%, #0f172a 100%);
  border: 0;
  color: #fff;
  padding: 5px;
  /* font-family: "Poppins"; */

  cursor: pointer;
}

.please {
  @apply text-2xl md:text-7xl;
}

.authlabel {
  @apply text-white block mt-5;
}

.formdiv {
  @apply flex flex-col mt-20 items-center justify-center w-full;
}

.authform {
  @apply bg-[#1d232a] w-[350px]  p-5 text-[#95a5b6] rounded-xl flex flex-col;
  background: linear-gradient(135deg, #0f172a 0%, #1a2436 50%, #0f172a 100%);
}

.authinput {
  @apply p-0.5 text-white bg-[#1e293b]  transition-all duration-300 block rounded-sm focus:outline-none focus:bg-[#0f172a] focus:caret-white mt-2 mb-6;
}

.navtext {
  @apply text-orange-600 font-bold;
}

/* .navtext:hover {
  color: black;
  background-color: #f6ad55;
  box-shadow: 0px 1px 400px 50px #f6ad55;
} */

.movieinfo {
  font-family: "Bebas Neue";
  font-weight: 300;
}

.moviepage {
  font-family: "Bebas Neue";
}

/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0;
  border-bottom: 1px solid #f2f2f2;

  overflow: visible;
} */

/* .navbar a {
 
  text-decoration: none;
  color: green;
  padding: 6px;
} */
/* .navbar a:hover {
  color: #f1356d;
} */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */

.loading {
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 40%;
  color: #f1356d;
}

.please {
  text-align: center;
  align-content: center;
  width: 100%;

  /* transition: 0.6s;
  animation-name: up;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: -100px; */

  /* left: 30%; */
  font-family: "Bebas Neue";

  font-weight: 400;
}

.server {
  text-align: center;

  align-content: center;
  width: 100%;

  /* transition: 0.6s;
  animation-name: up;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: -150px;
  animation-delay: 3.5s; */

  font-family: "Bebas Neue";

  font-weight: 400;
}

@keyframes up {
  0% {
  }

  100% {
    /* transform: translateX(300px); */
    transform: translateY(-450px);
  }
}

.comment-gradient {
  background: linear-gradient(
    0deg,
    #0f172a 0%,
    #0f172a 15%,
    #101827 35%,
    #101928 50%,
    #101827 65%,
    #0f172a 85%,
    #0f172a 100%
  );
  background-image: -moz-linear-gradient(
    0deg,
    #0f172a 0%,
    #0f172a 15%,
    #101827 35%,
    #101928 50%,
    #101827 65%,
    #0f172a 85%,
    #0f172a 100%
  );
  background-color: #0f172a;
}
